*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body{
  font-size: 16px;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
}

/** LOGO DIV  **/
.logo-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
    width: 70px;
    height: 60px;
    margin: 20px;
    border-radius: 10px;
}


#enter-email-div{
  width: 100%;
  max-width: 330px;
  height: auto;
  padding: 0px 0.5rem;
  background: #ffffff;
  margin: 0px auto;
}


/** MAIN CONTAINER DIV **/
.content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/** HEADER DIV (h2, p) **/
.header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px ;
}

.header-div h2{
  font-weight: 500; /* bold */
  font-size: 1.5rem;
}

.header-div p{
    text-align: center;
    font-weight: 100;
}

.font-ui{
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-color-5);
}




.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input-group label{
    margin-bottom: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: var(--font-body);
    align-self: self-start;
}


.input-group input{
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
    border: 0.5px solid var(--border-1);
    border-radius: 6px;
    font-size: 0.8rem;
    background-color: white;
    margin-top: 5px;
    color: black;
}


#reset-pass-btn{
    width: 100%;
    background-color: var(--button-color-3);
}

#reset-pass-btn:hover{
    background-color: var(--highlight-color);
}

.error-icon{
  display: none;
  position: absolute;
  right: 1rem;
  top: 30%;
  transform: translateY(-40%);
}

.error-message{
  width: 100%;
  display: block;
  color: var(--text-color-error);
  font-family: var(--font-body);
  font-size: 0.7rem;
  padding: 5px;
  margin-bottom: 4px;
}

.error-icon.show{
  display: block;
}


input.show{
  border: 2px solid var(--text-color-error);
}


/** ERROR DIV above the form **/
.flash-container{
    width: 100%;
    margin-bottom: 0.5rem;
    display: block;
}

.flash-full{
    width: 100%;
    background-color: rgb(218, 245, 213);
    padding: 1rem;

    border-radius: 0.5rem;
    display: none;
    align-items: center;
    position: relative;
}

.flash-full p {
    color: var(--text-color-6);
    line-height: 1.5;
}

.flash-full svg{
    display: none;
    position: absolute;
    height: 1rem;
    right: 1rem;
    top: 35%;
    transform: translate(-50%, -50%);
    fill: #e53935; /* or any other color */
    cursor: pointer;
}

.flash-full svg.show{
    display: block;
}

.flash-full svg:hover{
  fill: #ad2929;
}

.flash-full.show{
  display: block;
}