*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


html, body{
  font-size: 16px;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
}



/** LOGO DIV  **/
.logo-div{
  display: flex;
  align-items: center;
  justify-content: center;
}


#reset-pass-div{
  width: 100%;
  max-width: 330px;
  height: auto;
  padding: 0px 0.5rem;
  background: #ffffff;
  margin: 0px auto;
}

/** MAIN CONTAINER DIV **/
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width: 70px;
    height: 60px;
    margin: 20px;
    border-radius: 10px;
}




/** HEADER DIV (icon, h1, p) **/
.header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px ;
}

.header-div h2{
  font-weight: 500; /* bold */
  font-size: 1.5rem;
}

.header-div p{
    text-align: center;
    font-weight: 100;
}

.font-ui{
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-color-5);
}


/** FORM: (inputs, labels) **/
#reset-password-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0rem;
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    font-family: var(--font-body);

    padding: 20px;
    border: 1px solid var(--border-1);
    border-radius: 5px;
}

.input-group{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    position: relative;
}

.input-group label{
    margin-bottom: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: var(--font-body);
}

.input-group input{
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
    border: 0.5px solid var(--border-1);
    border-radius: 6px;
    font-size: 0.8rem;
    background-color: white;
    margin-top: 5px;
}

/** Error Input **/
.error-icon{
    display: none;
    position: absolute;
    right: 1rem;
    top: 55%;
    transform: translateY(-100%);
}

.error-message{
  width: 100%;
  display: none;
  color: var(--text-color-error);
  font-family: var(--font-body);
  font-size: 0.7rem;
  padding: 5px;
  margin-bottom: 4px;
}

.error-icon.show{
  display: block;
}

.error-message.show{
  display: block;
}


input.show{
  border: 2px solid var(--text-color-error);
}





/** CHANGE PASS BUTTON **/
#change-pass-btn{
    width: 100%;
    background-color: var(--button-color-3);
}

#change-pass-btn:hover{
    background-color: var(--highlight-color);
}

/** CHECKER DIV (check icons, reminders for user's pass) **/
.password-tip{
    line-height: 1.5;
    font-size: 0.7rem;
}


.flash-container{
    width: 100%;
    margin-bottom: 0.5rem;
    display: block;
}

.flash-full{
    width: 100%;
    background-color: rgb(55, 9, 9);
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.5rem;
    display: none;
    align-items: center;
    position: relative;
}

.flash-full p {
    color: var(--text-color-3);
    line-height: 1.5;
}

.flash-full svg{
    position: absolute;
    height: 1rem;
    right: 1rem;
    top: 35%;
    transform: translate(-50%, -50%);
    fill: #e53935; /* or any other color */
    cursor: pointer;
}

.flash-full svg:hover{
  fill: #ad2929;
}

.flash-full.show{
  display: block;
}