*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


html, body{
  font-size: 16px;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  font-family: var(--font-body);
}

/** LOGO DIV  **/
.logo-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
    width: 70px;
    height: 60px;
    margin: 20px;
    border-radius: 10px;
}


#reset-pass-div{
  display: none;
  width: 100%;
  max-width: 330px;
  height: auto;
  padding: 0px 0.5rem;
  background: #ffffff;
  margin: 0px auto;
}

#reset-pass-div.show{
  display: block;
}

/** MAIN CONTAINER DIV **/
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}






/** HEADER DIV (h2, p) **/
.header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px ;
}

.header-div.hidden{
  display: none;
}

.header-div h2{
  font-weight: 500; /* bold */
  font-size: 1.5rem;
}

.header-div p{
    text-align: center;
    font-weight: 100;
}

.font-ui{
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--text-color-5);
}

/** ERROR DIV above the form **/
.flash-container{
    width: 100%;
    margin-bottom: 0.5rem;
    display: block;
}

.flash-full{
    width: 100%;
    background-color: rgb(55, 9, 9);
    padding: 1rem;
    border: 1px solid red;
    border-radius: 0.5rem;
    display: none;
    align-items: center;
    position: relative;
}

.flash-full p {
    color: var(--text-color-3);
    line-height: 1.5;
}

.flash-full svg{
    position: absolute;
    height: 1rem;
    right: 0.5rem;
    top: 30%;
    transform: translate(-50%, -50%);
    fill: #e53935; /* or any other color */
    cursor: pointer;
}

.flash-full svg.hidden{
  display: none;
}

.flash-full svg:hover{
  fill: #ad2929;
}

.flash-full.show{
  display: block;
}

/** (force-login) Reset link invalid user click request new one to be 
redirected to send email reset link*/
#force-login{
  color: var(--text-color-3);
  text-decoration: underline;
}

#force-login:hover{
  color: var(--highlight-color);
}


/** FORM: (inputs, labels) **/
#reset-password-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0rem;
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    font-family: var(--font-body);

    padding: 20px;
    border: 1px solid var(--border-1);
    border-radius: 5px;
}

#reset-password-form.hidden{
  display: none;
}

.input-group{
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.input-group label{
    margin-bottom: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-family: var(--font-body);
}

.input-group input{
    width: 100%;
    height: 40px;
    padding: 0.5rem 1rem;
    border: 0.5px solid var(--border-1);
    border-radius: 6px;
    font-size: 0.8rem;
    background-color: white;
    margin-top: 5px;
}

/** Inner div for the input and icon **/
.inner-div{
  position: relative;
}

/** Error Input **/
.error-icon{
    display: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.error-message{
  width: 100%;
  display: none;
  color: var(--text-color-error);
  font-family: var(--font-body);
  font-size: 0.7rem;
  padding: 5px;
  margin-bottom: 4px;
}

.error-icon.show{
  display: block;
}

.error-message.show{
  display: block;
}


input.show{
  border: 2px solid var(--text-color-error);
}





/** CHANGE PASS BUTTON **/
#change-pass-btn{
    width: 100%;
    background-color: var(--button-color-3);
}

#change-pass-btn:hover{
    background-color: var(--highlight-color);
}

/** CHECKER DIV (check icons, reminders for user's pass) **/
.password-tip{
    line-height: 1.5;
    font-size: 0.7rem;
}


/** DIV FOR RESETTING PASSWORD SUCCESSFULLY **/
.card{
  background-color: #ffffff;
  height: 190px;
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

#reset-success-div.show{
  display: flex;
}

#reset-success-div h2{
  font-weight: 500; /* bold */
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#reset-success-div p{
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
  color: var(--text-color-2);
}

#signin-btn{
  width: 100%;
  background-color: var(--button-color-3);
  padding: 10px;
}


#signin-btn:hover{
  background-color: var(--highlight-color);
}



/** INVALID MODAL DIV **/
#invalid-reset-link{
  height: 260px;
}

#invalid-reset-link.show{
  display: flex;
}

#invalid-reset-link img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#invalid-reset-link p{
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
  color: var(--text-color-2);
  margin-top: 10px;
}

