:root {
    --primary-color: #fff;
    --highlight-color: #FBDC95;
    --background-color: #555555;
    --background-color-1:#f7e9c7;
    --background-color-2:#000000;
    --background-color-3:#ffffff;
    --modal-background-1: #000000;
    --modal-background-2: #f3e1b6;

    /* Font-color */
    --text-color-1: #fad37c;
    --text-color-2: #000000;
    --text-color-3: #ffffff;
    --text-color-4: #459FFF;
    --text-color-5: rgb(95, 95, 95);
    --text-color-6: #67d275;
    --text-color-error: #fa263f;



    --border-color-1: #ffffff;
    --button-color-3: #DBB741;

    --font-heading: 'Playfair Display', serif;
    --font-subtitle: 'Libre Baskerville', serif;
    --font-body: 'Inter', sans-serif; /* or any clean default */

    /* background*/
    --error-bg:#ffe6e6;
    --stale-bg: #E0E0E0;

    /* border */
    --border-1:rgb(186, 186, 186)
}
